.Properties{
    display:flex;
    direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 50px;
    background-color: darkslategray;
    border: unset;  
    padding-bottom: 10px; 
    /* width: 25%;
    margin: 20px;
    padding: unset;
    float: left;
    height: 560px; */
}

.PropertiesPageCard {
    background-color: rgb(35, 35, 35);
    width: 25%;
    margin: 20px;
    padding: unset;
    float: left;
    height: 660px;
  }
/* .PropertiesCard {
    display: flex;
    width: 25%;
    margin: 20px;
    padding: unset;
    float: left;
    height: 560px;
  } */

.AddProp{
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(35, 35, 35);
    color: white;
    min-width: 120px;
    font-size: 16px;
    font-weight: 600;
    gap: '10px';
    text-transform: capitalize;
    width: -moz-available;
}

.AddProp:hover{
    background-color: rgb(39, 45, 45);
    border: 1px solid white;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 700px) {
.PropertiesPageCard {
    width: unset; /* Set width to 100% for screens smaller than 700px */
    margin: 10px;
    padding: 5px;
    float: unset;
    height: unset;
}
}