.Icon {
    display: flex;
    font-family: "Roboto Mono", sans-serif !important;
  }

.SideBar {
    background-color: rgb(35, 35, 35);
    color: white;
    height: 100%;
    width: 100%;
    max-width: 200px;
    padding: 80px 10px;
    transition: width 0.3s ease-in-out;
  }

  